// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#u_post {
  padding-top: 20px;

  h2 {
    font-weight: bold;
    margin: 30px;

  }

  .row {
    margin: 30px 10px auto;

    .p_title {
      margin-bottom: 20px;
      width: 50%;
      border-radius: 10px;
    }

    .p_cast {
      border: 2px solid black;
      margin-bottom: 20px;
      width: 50%;
      height: 11vh;
      border-radius: 10px;
    }

    .p_year {
      margin-bottom: 20px;
      width: 50%;
      border-radius: 10px;
    }

    .p_summary {
      border: 2px solid black;
      margin-bottom: 20px;
      width: 50%;
      height: 18vh;
      border-radius: 10px;
    }

  }

}




#post-container {
  border: 2px solid black;
  padding: 2% 2% 2% 2%;
  background-color: #4c4e5852;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;




  #element {

    background-color: white;
    border: 2px solid black;
    margin: 1vh auto 3px auto;
    padding: 1vh;
    height: 340px;
    width: 270px;
    text-align: center;

    position: relative;

    .unlike_button,
    .like_button {

      width: 25px;
      height: 30px;
      font-size: 25px;
      padding: 0px;
      background-color: white;

      position: absolute;
      top: 7px;
      left: 7px;


      .like {
        color: #808080;
      }

      .unlike {

        color: #e54747;
      }
    }


    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 1vh auto 2px;
      overflow-wrap: break-word;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: large;
    }

    .image {
      margin-top: auto;

      img {
        border: 2px solid black;
        width: 200px;
        height: 196px;
        border-radius: 10%;
        object-fit: cover;
        margin-top: 1vw;

      }
    }

    .post_edit {
      a {

        background-color: greenyellow;
        color: black;
        padding: 3px;
        border-radius: 10px;
      }
    }

  }



}







#show_post {
  max-height: 100vh;
  text-align: center;
  padding: 85px 2vw 10px 2vw;


  .show_header {
    h3 {
      letter-spacing: 1vw;
      color: white;
      background-color: #42454c;
      padding: 10px;
      margin-bottom: 5vh;
      margin-left: 14vw;
      margin-right: 14vw;
    }
  }

  .show_body {
    margin-bottom: 10vh;
    text-align: center;

    .show_title {

      h5 {
        border-bottom: 4px ridge #262aeb;
        letter-spacing: 0.6vw;
        font-size: x-large;
        font-weight: bold;
        margin: auto 18vw;
      }
    }

    .show_content {
      width: 80%;
      padding: 0.5em 5vw;

      margin: 2em auto;
      color: #474747;
      border-left: double 7px #191b1b;
      border-right: double 7px #0b0c0c;
      background-color: #e9ecef5c;
      font-size: 20px;
      overflow-wrap: break-word;

      .summary {
        text-align: left;
      }
    }

    .show_img {
      img {
        width: 340px;
        height: 450px;
        border: 2px solid #0b0c0c;
      }
    }
  }


}
