#sign_new,
#log_new {
  padding: 60px;

  h2 {
    font-weight: bold;
    margin: 30px;
  }

  .row {
    margin: 30px 10px auto;

    .form-controll {
      margin-bottom: 20px;
      width: 50%;
      border-radius: 10px;
    }

    .actions {
      margin-bottom: 20px;

      input {
        padding: 5px 30px;
      }
    }
  }

}

li {
  padding-right: 10px;
}

#links_btn {
  padding: 5px 40px;
  margin: 20px auto;
}



nav {
  padding-bottom: 10px;
}

header {
  .login_nav {
    a {
      margin-right: 2vw;
      color: white;
    }
  }
}
